<%- include ( "header" ) -%>

    <body>
        <div class="box" id="heading">
            <h1> <%= listTitle %>  </h1>
        </div>

        <div class="box">
            <!-- //<% for( let i = 0; i < userToDos.length; i++ ) { %> 
                <div class="item">
                    <input type="checkbox">
                    //<p> <%= userToDos[ i ]  %> </p> 
                </div>
            //<% } %>  -->

             <% userToDos.forEach( userToDo => { %>
                <form action="/delete" method="post">
                    <div class="item">
                        <input type="checkbox" name="checkbox" value="<%= userToDo._id %>" onchange="this.form.submit()">
                        <p> <%= userToDo.name %>  </p>
                    </div>
                    <input type="hidden" name="listName" value="<%= listTitle %>">
                </form>
             <% }) %>

            <form action="/" method="post" class="item">
            
                <input type="text" name="toDoItem" id="" placeholder="New todo" autocomplete="off" autofocus>
                <button type="submit" name="listButton" value= <%= listTitle %> >+</button>
            </form>

        </div>

    </body>

<%- include ( "header" ) -%> 
